joblib==1.5.0
numpy==2.2.6
pandas==2.2.3
pillow==11.2.1
python-dateutil==2.9.0.post0
pytz==2025.2
scikit-learn==1.6.1
scipy==1.15.3
six==1.17.0
Tcl==0.2
threadpoolctl==3.6.0
tk==0.1.0
ttkthemes==3.2.2
tzdata==2025.2
